/* overview/page & vission/page
================================= */ 

 /*---------------------------------------
      CONTENT              
  -----------------------------------------*/

/*---- BODY ----*/
#body {
	width: 940px;
	margin: 0 auto;
	padding: 0 2px;
}

/** MAIN **/
#main {
	display: inline-block;
	padding-top: 350px;
}
#articles {
	float: left;
	list-style: none;
	width: 286px;
	margin: 0;
	padding: 0;
}
#articles li {
	background-position: 0 -231px;
	height: 120px;
	width: 236px;
	margin: 0 0 30px;
	padding: 40px 20px 20px 30px;
	position: relative;
}
#articles li span.leaf {
	background-position: 0 -1152px;
	display: block;
	height: 100px;
	width: 117px;
	position: absolute;
	top: -20px;
	left: -25px;
}
#articles li h3 {
	color: #5f5b3e;
	font-family: 'DeliusSwashCapsRegular';
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0;
}
#articles li p {
	color: #bc5800;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	text-align: justify;
}
#articles li p a {
	color: #bc5800;
}
#articles li a.more {
	color: #618200;
	text-decoration: none;
}

#featured, #contents div.header {
	background-position: 0 0;
	width: 640px;
	margin-left: 300px;
	padding-top: 9px;
}
#featured div.footer, #contents div.footer {
	background-position: -652px bottom;
	padding-bottom: 11px;
}
#featured div.body {
	background-position: 0 -71px;
	display: inline-block;
	height: 331px;
	max-height: 390px;
	padding: 20px 10px;
}
#fetured div.body h1 {
	color: #5f5b3e;
	font-family: 'DeliusSwashCapsRegular';
	letter-spacing: 1px;
	line-height: 42px;
	margin: 0;
	padding: 0 10px;
}
#featured div.body p {
	float: left;
	color: #755d43;
	font-size: 12px;
	line-height: 24px;
	width: 290px;
	margin: 0;
	padding: 0 10px;
	text-align: justify;
}
#featured div.body p a, #contents p a {
	color: #618200;
}

/*---- CONTENTS ----*/
#contents {
	background: url(../images/bg-content.jpg) no-repeat center top;
	min-height: 695px;
	padding-top: 90px;
}
#contents div.body {
	background-position: 0 -464px;
	max-height: 640px;
	padding: 10px 20px 20px;
}
#contents div.body h1 {
	color: #615c3f;
	font-family: 'DeliusSwashCapsRegular';
	line-height: 42px;
	margin: 0;
	text-shadow: 1px 1px #f9faf5;
}
#contents div.body h4 {
	color: #743200;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
}
#contents div.body p {
	color: #766249;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
	text-align: justify;
}

