/* Website template by freewebsitetemplates.com */
@font-face {
    font-family: 'DeliusSwashCapsRegular';
    src: url('fonts/deliusswashcaps-regular-webfont.eot');
    src: url('fonts/deliusswashcaps-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/deliusswashcaps-regular-webfont.woff') format('woff'),
         url('fonts/deliusswashcaps-regular-webfont.ttf') format('truetype'),
         url('fonts/deliusswashcaps-regular-webfont.svg#DeliusSwashCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #fff url(../images/bg-body.jpg) no-repeat center top;
	font-family: Arial, Helvetica, 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, 'MS Sans Serif', sans-serif;
	margin: 0;
}

img {
	border: 0;
}

#navigation,
#featured div.body,
#contents div.body {
	background: url(../images/bg-content-strips.png) repeat-x;
}
#featured, #contents div.header,
#featured div.footer, #contents div.footer {
	background: url(../images/bg-content-borders.png) no-repeat;
}

#navigation div,
#footer .footnote {
	background: url(../images/bg-navigation.png) no-repeat;
}

#logo, 
#articles li, span.leaf, #blogs ul li,
#contacts form input, #contacts form input.button, #contacts form textarea {
	background: url(../images/interface.png) no-repeat;
}

/*------------------------------ HEADER ------------------------------*/
#header {
	width: 960px;
	margin: 0 auto 51px;
}

/** Logo **/
#logo {
	background-position: 0 0;
	height: 168px;
	width: 298px;
	padding: 51px 0 0 83px;
	position: relative;
}
#logo a {
	display: block;
	height: 51px;
	width: 215px;
	margin-left: 20px;
}

/** Navigation **/
#navigation {
	background-position: 0 0;
	height: 50px;
	width: 100%;
	position: absolute;
	top: 38px;
	left: 0;
}
#navigation div {
	background-position: 0 0;
	height: 50px;
	width: 960px;
	margin: 0 auto;
}
#navigation ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation ul li {
	float: left;
	font-size: 14pt;
	margin-left: 60px;
	text-align: center;
}
#navigation ul li:first-child {
	margin: 0;
}
#navigation ul li a {
	color: #893604;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 31px;
	line-height: 31px;
	margin: 9px 0;
	padding-left: 5px;
	outline: 0;
	text-decoration: none;
}
#navigation ul li a span {
	display: block;
	height: 50px;
	padding: 0 10px 0 5px;
}
#navigation ul li a:hover, #navigation ul li.active a,
#navigation ul li a:hover span, #navigation ul li.active a span {
	background: url(../images/bg-menu-selected.png) no-repeat;
}
#navigation ul li a:hover, #navigation ul li.active a {
	background-position: 0 0;
}
#navigation ul li a:hover span, #navigation ul li.active a span {
	background-position: right -43px;
}


/*------------------------------ BODY ------------------------------*/
#body {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/** MAIN **/
#main {
	display: inline-block;
	padding-top: 350px;
}
#articles {
	float: left;
	list-style: none;
	width: 286px;
	margin: 0;
	padding: 0;
}
#articles li {
	background-position: 0 -231px;
	height: 120px;
	width: 236px;
	margin: 0 0 30px;
	padding: 40px 20px 20px 30px;
	position: relative;
}
#articles li span.leaf {
	background-position: 0 -1152px;
	display: block;
	height: 100px;
	width: 117px;
	position: absolute;
	top: -20px;
	left: -25px;
}
#articles li h3 {
	color: #5f5b3e;
	font-family: 'DeliusSwashCapsRegular';
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0;
}
#articles li p {
	color: #bc5800;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	text-align: justify;
}
#articles li p a {
	color: #bc5800;
}
#articles li a.more {
	color: #618200;
	text-decoration: none;
}

#featured, #contents div.header {
	background-position: 0 0;
	width: 640px;
	margin-left: 300px;
	padding-top: 9px;
}
#featured div.footer, #contents div.footer {
	background-position: -652px bottom;
	padding-bottom: 11px;
}
#featured div.body {
	background-position: 0 -71px;
	display: inline-block;
	height: 331px;
	max-height: 390px;
	padding: 20px 10px;
}
#fetured div.body h1 {
	color: #5f5b3e;
	font-family: 'DeliusSwashCapsRegular';
	letter-spacing: 1px;
	line-height: 42px;
	margin: 0;
	padding: 0 10px;
}
#featured div.body p {
	float: left;
	color: #755d43;
	font-size: 12px;
	line-height: 24px;
	width: 290px;
	margin: 0;
	padding: 0 10px;
	text-align: justify;
}
#featured div.body p a, #contents p a {
	color: #618200;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	background: url(../images/bg-content.jpg) no-repeat center top;
	min-height: 695px;
	padding-top: 90px;
}
#contents div.body {
	background-position: 0 -464px;
	max-height: 640px;
	padding: 10px 20px 20px;
}
#contents div.body h1 {
	color: #615c3f;
	font-family: 'DeliusSwashCapsRegular';
	line-height: 42px;
	margin: 0;
	text-shadow: 1px 1px #f9faf5;
}
#contents div.body h4 {
	color: #743200;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
}
#contents div.body p {
	color: #766249;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
	text-align: justify;
}

/** SIDEBAR **/
#sidebar {
	float: left;
	width: 300px;
}

#archives ul li a, #archives ul li a.expand,
#blogs ul li span.links a {
	background: url(../images/icon-small.png) no-repeat;
}

/** ARCHIVES **/
#archives {
	background: url(../images/bg-sidebar.png) left top;
	width: 250px;
	border: 1px solid #eaeaec;
	border-radius: 10px;
	margin-left: -10px;
	padding: 20px;
}
#archives h3 {
	color: #301c03;
	margin: 0 0 10px;
}
#archives ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#archives ul li {
	background: url(../images/separator.png) no-repeat center top;
	font-size: 14px;
	line-height: 24px;
	width: 210px;
	padding: 12px 0;
}
#archives ul li a {
	background-position: right -90px;
	color: #ff9702;
	display: block;
	font-size: 16px;
	margin: 0 auto;
	padding-left: 20px;
	text-decoration: none;
}
#archives ul li a.expand {
	background-position: right -120px;
}
#archives ul li a span {
	color: #bd6712;
}
#archives ul li div.months {
	background: url(../images/separator.png) no-repeat center 10px;
	padding: 20px 20px 10px;
}
#archives ul li div.months a {
	background: none;
	color: #766146;
	font-size: 12px;
	padding-left: 20px;
}

#blogs, #contacts {
	width: 620px;
	margin-left: 320px;
}
#blogs ul {
	list-style: none;
	width: 616px;
	margin: 0 auto;
	padding: 0;
}
#blogs ul li {
	background-position: 0 -423px;
	height: 280px;
	width: 566px;
	margin: 0 0 30px;
	padding: 20px 20px 20px 30px;
	position: relative;
}
#blogs ul li span.leaf {
	background-position: 0 -1152px;
	display: block;
	height: 100px;
	width: 117px;
	position: absolute;
	top: -20px;
	left: -25px;
}
#blogs ul li span.links {
	position: absolute;
	top: 10px;
	right: 16px;
}
#blogs ul li span.links a {
	display: inline-block;
	width: 20px;
	height: 21px;
	margin: 0 2px;
}
#blogs ul li span.links a.heart {
	background-position: 0 1px;
}
#blogs ul li span.links a.twitter {
	background-position: 0 -32px;
}
#blogs ul li span.links a.facebook {
	background-position: 0 -65px;
}

#blogs ul li h3 {
	color: #df7801;
	font-family: 'DeliusSwashCapsRegular';
	letter-spacing: 1px;
	line-height: 30px;
	margin: 0 0 6px;
	padding-left: 48px;
}
#blogs ul li h3 em {
	color: #8c7e73;
	font-style: normal;
	font-weight: normal;
}
#blogs ul li p {
	color: #8c7e73;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	text-align: justify;
}
#blogs ul li a.more {
	color: #618200;
	text-decoration: none;
}


/*------------------------------ Contact us Page ------------------------------*/
/** CONNECT **/
#connect {
	background: url(../images/bg-sidebar.png) left top;
	width: 250px;
	border: 1px solid #eaeaec;
	border-radius: 10px;
	margin-left: -10px;
	padding: 20px;
}
#connect h1 {
	color: #77a7b3;
	font-family: 'DeliusSwashCapsRegular';
	margin: 0 0 10px;
}
#connect ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#connect ul li {
	background: url(../images/separator2.png) no-repeat center top;
	padding: 12px 0;
}
#connect ul li:first-child {
	background: none;
}
#connect ul li a {
	background: url(../images/icons.png) no-repeat;
	color: #77a7b3;
	display: block;
	font-size: 16px;
	height: 42px;
	width: 100px;
	line-height: 42px;
	margin: 0 auto;
	padding-left: 60px;
	text-decoration: none;
}
#connect ul li a.facebook {
	background-position: 0 0;
}
#connect a.email {
	background-position: 0 -52px;
}
#connect a.twitter {
	background-position: 0 -105px;
}
#connect a.flicker {
	background-position: 0 -156px;
}

#contacts h2 {
	color: #df7801;
	font-family: 'DeliusSwashCapsRegular';
	margin: 0;
}
#contacts p {
	color: #8c7e73;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
}
#contacts form label {
	color: #77a7b3;
	display: block;
}
#contacts form input {
	background-position: 0 -755px;
	color: #77a7b3;
	display: block;
	height: 31px;
	width: 275px;
	border: 0;
	margin: 0 0 12px;
	padding-left: 5px;
}
#contacts form input.button {
	background-position: 0 -1110px;
	cursor: pointer;
	height: 30px;
	width: 110px;
	border: 0;
}
#contacts form textarea {
	background-position: 0 -798px;
	color: #77a7b3;
	display: block;
	height: 290px;
	width: 610px;
	border: 0;
	margin: 20px 0;
	padding: 5px;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	background: #ffc605 url(../images/bg-footer.jpg) repeat-x center top;
}
#footer div {
	width: 960px;
	margin: 0 auto;
	padding: 0 0 24px;
}

#footer ul {
	display: inline-block;
	list-style: none;
	margin: 0 0 40px;
	padding: 0;
}
#footer ul li {
	float: left;
	height: 342px;
	width: 240px;
}
#footer ul li img {
	display: block;
	width: 200px;
	margin: 0 auto;
}
#footer ul li h4 {
	color: #3f2608;
	font-family: 'DeliusSwashCapsRegular';
	line-height: 30px;
	margin: 0;
	padding: 0 20px;
	text-shadow: 1px 1px #f2f96f;
}
#footer ul li p {
	color: #3f2608;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0 20px 18px;
	text-align: justify;
}

#footer .footnote {
	background-position: 0 -62px;
	clear: both;
	color: #a77600;
	font-size: 12px;
	margin: 0;
	padding: 18px 0 17px;
	text-align: center;
}

/*------------------------------ For IE6 ------------------------------*/
