/* index/page 
================================= */ 

 /*---------------------------------------
      HEADER IMAGE              
  -----------------------------------------*/

 .im img{
  width: 1400px;
  height: 500px;
}

.body{
  padding-bottom: -15px;
}
 /*---------------------------------------
      PAGES GALLERY              
  -----------------------------------------*/

  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

/* vission/page 
================================= */

/*---------------------------------------
      HOME SLIDER              
  -----------------------------------------*/

.carousel-home img {
  width: 100%;
}
.carousel-home .carousel-control {
  background: #1f76bd;
  height: 80px;
  width: 40px;
  top: 50%;
  margin-top: -40px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
}
.carousel-home .carousel-control .fa {
  font-size: 2.5em;
  padding-top: 12px;
}
.carousel-home .carousel-control:hover {
  width: 50px;
}
.carousel-home .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
.carousel-home .carousel-title {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-home .carousel-subtitle {
  font-size: 25px;
  text-transform: uppercase;
}
.carousel-home .btn {
  margin-top: 30px;
}

.section-home {
  margin: 30px 0;
}

/*---------------------------------------
      MODULE              
  -----------------------------------------*/
.btn-primary {
  
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  border: 1px solid transparent;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.btn-primary:hover {
  background: #fff;
  color: #1f76bd;
  border: 1px solid #1f76bd;
}

.btn-secondary {
  background: #fff;
  color: #1f76bd;
  border-radius: 0;
}
.btn-secondary:hover {
  background: #1f76bd;
  color: #fff;
}

.title-style-1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 50px;
}

.title-style-2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 25px;
}
.title-style-2 .title-under {
  display: block;
  margin: 5px 0;
}
.title-style-2 .title-under:after {
  margin: 0;
  margin-top: 10px;
}

.title-under {
  display: block;
  margin: 5px auto;
  background: #1f76bd;
  height: 1px;
  width: 280px;
}
.title-under:after {
  content: '';
  display: block;
  width: 100px;
  background: inherit;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}

/* opd/page 
================================= */ 

/*---------------------------------------
      CONTENT              
  -----------------------------------------*/
.roww{
        margin: 15px;
      }