/* index/page 
================================= */ 

 /*---------------------------------------
      HEADER IMAGE              
  -----------------------------------------*/

 .im img{
  width: 1400px;
  height: 500px;
}

 /*---------------------------------------
      PAGES GALLERY              
  -----------------------------------------*/
.gallery-item {
  padding: 0;
  display: block;
  margin: 0;
}
.gallery-item img {
  width: 100%;
}

.contact-items {
  margin-top: 30px;
}
.contact-items .contact-item {
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 16px;
}
.contact-items .contact-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #1f76bd;
  vertical-align: middle;
  margin-right: 5px;
  color: #fff;
  text-align: center;
}
.contact-items .contact-icon .fa {
  vertical-align: sub;
  font-size: 20px;
  margin-top: 7px;
}

 /*---------------------------------------
      MODAL              
  -----------------------------------------*/

.modal .modal-content {
  border-radius: 0;
}
.modal .modal-header {
  background: #1f76bd;
  color: #fff;
}
.modal .modal-header .close {
  font-style: 26px;
}

.lightbox {
  position: relative;
  display: block;
  overflow: hidden;
}
.lightbox img {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.lightbox .on-hover {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  color: #fff;
  background: rgba(31, 118, 189, 0.75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  -webkit-transition: all, 0.6s;
  transition: all, 0.6s;
}
.lightbox .on-hover .hover-caption {
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 5px;
  right: 5px;
  font-style: 18px;
  display: block;
  font-family: "Dosis", sans-serif;
  bottom: -50px;
  -moz-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  -webkit-transition: all, 0.6s;
  transition: all, 0.6s;
}
.lightbox .on-hover:before {
  content: "";
  display: block;
  width: 46px;
  height: 48px;
  position: absolute;
  background: url('../images/icons/zoom-icon.png?1428101315');
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -24px;
}
.lightbox:hover .on-hover {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.lightbox:hover .on-hover .hover-caption {
  bottom: 25px;
}
.lightbox:hover img {
  -moz-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
  -webkit-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
  transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
}


/* vission/page 
================================= */

/*---------------------------------------
      HOME SLIDER              
  -----------------------------------------*/

.carousel-home img {
  width: 100%;
}
.carousel-home .carousel-control {
  background: #1f76bd;
  height: 80px;
  width: 40px;
  top: 50%;
  margin-top: -40px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
}
.carousel-home .carousel-control .fa {
  font-size: 2.5em;
  padding-top: 12px;
}
.carousel-home .carousel-control:hover {
  width: 50px;
}
.carousel-home .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
.carousel-home .carousel-title {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-home .carousel-subtitle {
  font-size: 25px;
  text-transform: uppercase;
}
.carousel-home .btn {
  margin-top: 30px;
}

.section-home {
  margin: 30px 0;
}

/*---------------------------------------
      MODULE              
  -----------------------------------------*/
.btn-primary {
  background: #115c9b;
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  border: 1px solid transparent;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.btn-primary:hover {
  background: #fff;
  color: #1f76bd;
  border: 1px solid #1f76bd;
}

.btn-secondary {
  background: #fff;
  color: #1f76bd;
  border-radius: 0;
}
.btn-secondary:hover {
  background: #1f76bd;
  color: #fff;
}

.title-style-1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 50px;
}

.title-style-2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 25px;
}
.title-style-2 .title-under {
  display: block;
  margin: 5px 0;
}
.title-style-2 .title-under:after {
  margin: 0;
  margin-top: 10px;
}

.title-under {
  display: block;
  margin: 5px auto;
  background: #1f76bd;
  height: 1px;
  width: 280px;
}
.title-under:after {
  content: '';
  display: block;
  width: 100px;
  background: inherit;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}

/* opd/page 
================================= */ 

/*---------------------------------------
      CONTENT              
  -----------------------------------------*/
.roww{
        margin: 15px;
      }