/* Pages/Gallery 
================================= */
.gallery-item {
  padding: 0;
  display: block;
  margin: 0;
}
.gallery-item img {
  width: 100%;
}

.contact-items {
  margin-top: 30px;
}
.contact-items .contact-item {
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 16px;
}
.contact-items .contact-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #1f76bd;
  vertical-align: middle;
  margin-right: 5px;
  color: #fff;
  text-align: center;
}
.contact-items .contact-icon .fa {
  vertical-align: sub;
  font-size: 20px;
  margin-top: 7px;
}









